:root { 
  --bg: #001226;
  --bk: #000000;
  --catalina-blue: #0a3472;
  --frblue: #011e3d;
  --ptyellow: #f6d04e;
  --wt: #ffffff;
 
  --font-size-l: 14px;
  --font-size-m: 13px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
 
  --font-family-pretendard-regular: "Pretendard-Regular", Helvetica;
  --font-family-pretendard-semibold: "Pretendard-SemiBold", Helvetica;
}
.headline2 {
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.headline3 {
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.56px;
}

.body {
  font-family: var(--font-family-pretendard-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}
